<html>
    <head>
        <title> captcha </title>
    </head>
<body>
<!-- {% extends 'content-only.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block extra_css%} -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="{% static 'notification/toastr.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script>
        function onSubmit(token) {
        $(form).submit();
    }
</script>
<style>
    ul.errorlist {
        list-style: none;
        padding: 2px;
    }

    ul.errorlist li {
        color: red;
        font-size: 12px;
    }
</style>
<!-- {% endblock %} -->

<!-- {% block content %} -->
<section class="section bg-ico-hero" style="min-height: 500px !important">
    <div class="bg-overlay ">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3903.9519117588793!2d84.04407104195364!3d28.19180258086786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3995950e6ee4369b%3A0x991388524c421e95!2sPython%20Tech%20Com%20Nepal%20Pvt.%20Ltd.%20(www.ptcnepal.com)%2C%20Pokhara%2033700!3m2!1d28.191716399999997!2d84.0450571!5e0!3m2!1sen!2snp!4v1669536117669!5m2!1sen!2snp"
            width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

<section class="section pt-4 bg-white" id="about">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="font-size-14 text-muted">
                    Please feel free to send us message or directly contact us to address your queries. You are always
                    open to the customer support.
                </p>
                <p class="font-size-14 text-primary">Get in touch</p>
                <div class="col-md-6">
                    <div class="mini-stats-wid">
                        <div class="d-flex">
                            <div class="flex-shrink-0 align-self-center me-3">
                                <div class="mini-stat-icon avatar-sm rounded-circle">
                                    <span class="avatar-title">
                                        <i class="fas fa-envelope font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted fw-medium mb-2">SAY HI!</p>
                                <h5 class="mb-0"><a href="mailto:contact@ptcnepal.com">contact@ptcnepal.com</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-3 mt-3 w-75">
                <div class="col-md-6">
                    <div class="mini-stats-wid">
                        <div class="d-flex">
                            <div class="flex-shrink-0 align-self-center me-3">
                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                    <span class="avatar-title">
                                        <i class="fas fa-phone font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted fw-medium mb-2">LETS TALK</p>
                                <h5 class="mb-1"><a href="tel:+977061411669">+977 061-411669</a></h5>
                                <h5 class="mb-1"><a href="tel:+977061411779">+977 061-411779</a></h5>
                                <h5 class="mb-0"><a href="tel:+977061411889">+977 061-411889</a></h5>
                            </div>
                        </div>
                    </div>
                </div>  
                <hr class="mb-3 mt-3 w-75">
                <p class="mb-2 font-size-14 text-primary">Stay connected</p>
                <div class="col-lg-7 mb-4">
                    <div class="mini-stats-wid">
                        <div class="d-flex">
                            <div class="flex-shrink-0 align-self-center me-3">
                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary" style="cursor: pointer;">
                                    <span class="avatar-title">
                                        <i class="fab fa-facebook font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-shrink-0 align-self-center me-3">
                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary" style="cursor: pointer;">
                                    <span class="avatar-title">
                                        <i class="fab fa-youtube font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-shrink-0 align-self-center me-3">
                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary" style="cursor: pointer;">
                                    <span class="avatar-title">
                                        <i class="fab fa-twitter font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 ms-lg-auto">
                <div class="card overflow-hidden mb-0 me-2">
                    <div class="card-header text-center btn-primary">
                        <h5 class="mb-0 text-white">Send a message</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" novalidate action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <label for="id_name" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <!-- {{form.name}} -->
                                    <input type="text" class="form.name"> </input>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="id_contact" class="col-sm-3 col-form-label">Email/Phone</label>
                                <div class="col-sm-9">
                                    <!-- {{form.contact} -->
                                    <input type="number" class="form.contact"> </input>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="id_message" class="col-sm-3 col-form-label">Message</label>
                                <div class="col-sm-9">
                                    <!-- {{form.message}} -->
                                    <input type="text" class="form.message"> </input>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="{{form.captcha.id_for_label}}" class="col-sm-3 col-form-label">
                                    Verify as human:
                                </label>
                                <!-- <div class="col-sm-9">
                                    {{form.captcha}}
                                </div> -->
                                <div class="g-recaptcha" data-sitekey="YOUR_RECAPTCHA_SITE_KEY"></div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-9">
                                    <div>
                                        <!-- <button type="submit" class="btn btn-primary w-md">Submit</button> -->
                                        <button class="g-recaptcha btn btn-primary w-md" 
                                                type="submit"
                                                data-sitekey="6LetbEYnAAAAAGv5wKHvUC-E5j4oP7RprPehbPNh" 
                                                data-callback='onSubmit' 
                                                data-action='submit'
                                        
                                                >
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- {% endblock %}
{% block js_src %} -->
<script src="https://www.google.com/recaptcha/api.js?render=6Ldmf0YnAAAAAJ4O78TCX9532Cvy9sp9eYXhES0f" async defer></script>
<script src="{% static 'notification/toastr.min.js'%}"></script>
<script>
    $(document).ready(function () {
        // {% for field in form %}
        // {% if field.errors %}
        // $('#{{field.id_for_label}}').addClass('is-invalid');
        // $('#{{field.id_for_label}}').after('{{field.errors}}');
        // $('html, body').animate({
        //     scrollTop: $('#{{field.id_for_label}}').offset().top
        // }, 1000);
        // {% endif %}
        // {% endfor %}
        $(document).ready(function () {
        $('form').submit(function (e) {
            var formValid = true;

            // Loop through each required input field
            $('form :input[required]').each(function () {
                var field = $(this);

                // Check if the required field is empty
                if (field.val() === '') {
                    field.addClass('is-invalid');
                    formValid = false;
                } else {
                    field.removeClass('is-invalid');
                }
            });
            // Prevent form submission if any required field is empty
            if (!formValid) {
                    e.preventDefault();
                }
            });
    });

    $('form').submit(function (e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('6Ldmf0YnAAAAAJ4O78TCX9532Cvy9sp9eYXhES0f', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
          });
        });
        //get all the fields of the form
        var fields = $(this).find(':input');
        //on key update remove the error class
        fields.each(function () {
            if ($(this).prop('required') == true && $(this).val() == '') {
                $(this).addClass('is-invalid');
                $(this).after('<div class="invalid-feedback">This field is required</div>');
                e.preventDefault();
            }
            else {
                $(this).removeClass('is-invalid');

            }
        });
    });

</script>
<!-- {% endblock %} -->
</body>
</html>